################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/desafiorpa/FileContentIndex
/.vs/slnx.sqlite
